@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.navbar-brand {
  font-size: 2rem;
}
  
h1 {
  color: black;
}

.nav-link {
  color: white !important
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('hompage_photo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 525px;
}

.display-4 {
  color: black;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}

#index-content {
  flex: 1 0 auto;
  background-image: asset-url('plain_bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}